p {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
}
.hero {
  color: white;
  padding: 100px 0;
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--clr-white);
  padding: 0 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.hero p {
  max-width: 40rem;
  margin-bottom: 1.5rem;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  font-size: 1.1rem;
  line-height: 1.6;

  justify-content: center;
  align-items: center;
}

.cta-button {
  background-color: #8b001d;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f0f0f0;
  color: #8b001d;
}

/* Adjustments for larger screens */
@media screen and (min-width: 300px) {
  .hero {
    background-size: cover;
    background:
      linear-gradient(rgba(119, 15, 1, 0.7), rgba(0, 0, 0, 0.7)),
      url("./Pictures/main1.jpg") center/cover no-repeat;
  }
  .hero p {
    max-width: 50rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile-friendly adjustments */
@media screen and (max-width: 768px) {
  .hero {
    padding: 60px 20px; /* Reduce padding for smaller screens */
    min-height: 60vh; /* Adjust height for mobile */
  }

  .hero h1 {
    font-size: 2rem; /* Reduce font size for smaller screens */
    line-height: 1.3; /* Adjust line height */
    padding: 0 10px; /* Reduce padding */
  }

  .hero p {
    font-size: 1rem; /* Adjust font size */
    line-height: 1.4; /* Adjust line height */
    max-width: 90%; /* Limit width */
    padding: 0 10px; /* Add padding for better fit */
    justify-content: center;
    align-items: center;
  }

  .cta-button {
    padding: 10px 20px; /* Reduce padding */
    font-size: 0.9rem; /* Adjust font size */
  }
}
